<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/topnav.css">
    <link rel="stylesheet" href="/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="topnav">
            <a class="active topnav-logo" href="/">SH0P420</a>
            <div class="topnav-rightside">
                <form action="/search/" class="topnav-form" method="post">
                    <input class="topnav-searchinput" id="searchVal" name="searchVal" type="text" placeholder="Wyszukaj produkt..." value="">
                </form>
                <a class="active" href="/logout">Wyloguj</a>
            </div>
            </section>
            <section class="mainAdmin">
                <h2>Użytkownicy:</h2>
                 <div class="Users">
                    <% for (var i=0;i<users.length;i++) { %>
                        <div class="user">
                            <div>
                                 <p>Login: <%= users[i].name %> <br> Password: <span class="password"><%= users[i].password %> </span></span><br>Permission: <%= users[i].perm %>
                                 <form action='/view_users/remove/<%= users[i].name %>'>
                                    <button onclick="">Usuń</button>
                                 </form>
                                </p>
                                <!-- <p></p> -->
                            </div>
                        </div>
                    <% } %>
                </div>
                <h2>Panel Administratora</h2>
                <h4>Dodawanie użytkowników</h4>
                <form action="/add_user" class="topnav-form" method="post">
                    <input class="" name="name" type="text" placeholder="Name" value="">
                    <input class="" name="password" type="text" placeholder="Password" value="">
                    <input class="" name="per" type="text" placeholder="Permission" value="">
                    <button onclick="">Dodaj Użytkownika</button>
                </form>

                <h4>Dodawanie produktów</h4>
                <form action="/add_product" class="topnav-form" method="post">
                    <input class="" name="name" type="text" placeholder="Name" value="">
                    <input class="" name="description" type="text" placeholder="description" value="">
                    <input class="" name="imgLink" type="text" placeholder="imgLink" value="">
                    <input class="" name="price" type="number" placeholder="price" value="">
                    <button onclick="">Dodaj Produkt</button>
                </form>

                <h4>Usuwanie produktów</h4>
                <form action="/remove_product" class="topnav-form" method="post">
                    <input class="" name="name" type="text" placeholder="Name" value="">
                    <button onclick="">Usuń Produkt</button>
                </form>
            </section>
    </main>
</body>